<html>
  {% include 'html/common/header.html' %}
  <body>

    {% include 'html/common/navibar.html' %}

    <fieldset>
      <legend>New Opinion</legend>
      <form action="/opinions" method="POST">
        <input type='hidden' value="{{ g.key() }}" name='g' />
        <div class="row">
          <div class="span2 offset1">
            <input type="text" size="31" maxlength="30" name="title" placeholder="title (required)"></input>
          </div>
          <div class="span2 offset1">
            <textarea name="description" placeholder="description (required)" rows="5" cols="70"></textarea>
          </div>
          <div class="span1 offset1">
            <button type="submit" class="btn">Create</button>
          </div>
        </div>
      </form>
    </fieldset>
    <fieldset>
      <legend>{{ g.name }}'s opnions</legend>
      <table class="table table-striped">
        <thead>
          <tr>
            <td>vote</td>
            <td>title</td>
            <td>description</td>
            <td>nickname</td>
            <td>created</td>
            <td>#</td>
            <td>#</td>
            <td>#</td>
          </tr>
        </thead>
        <tbody>
          {% for opinion in opinions %}
          <tr>
            <td>{{ opinion.vote }}</td>
            <td>{{ opinion.title }}</td>
            <td>{{ opinion.description }}</td>
            <td>{{ opinion.nickname }}</td>
            <td>{{ opinion.created_at.strftime('%Y/%m/%d %H:%M:%S') }}</td>
            <td>
              <form action="/opinions" method="post">
                <button type="submit" class="btn btn-primary">Vote</button>
                <input type="hidden" name="_t" value="v" />
                <input type="hidden" name="_m" value="put" />
                <input type="hidden" name="_k" value="{{ opinion.key() }}" />
              </form>
            </td>
            <td>
              <form action="/opinions" method="post" onSubmit="return check();">
                <button type="submit" class="btn btn-success">Finish</button>
                <input type="hidden" name="_t" value="f" />
                <input type="hidden" name="_m" value="put" />
                <input type="hidden" name="_k" value="{{ opinion.key() }}" />
              </form>
            </td>
            <td>
              <form action="/opinions" method="post" onSubmit="return check();">
                <button type="submit" class="btn btn-danger">Delete</button>
                <input type="hidden" name="_t" value="d" />
                <input type="hidden" name="_m" value="delete" />
                <input type="hidden" name="_k" value="{{ opinion.key() }}" />
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>

    {% include 'html/common/footer.html' %}
  </body>
</html>
